.logo_clientes
{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor:pointer;
  height: 50px;
  width: 150px;
  margin: 50px;
  float: left;
}


.logo_clientes:hover
{
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.img-clientes{

}

.logo_header{
    
    height: 30px;
}

.panel-body{
    height: 350px !important;
}

.dropdown-toggle{
    z-index: 300;
}